.candleAddPage {
    &__mustIncluded {
        color: red;
    }

    .label-error-text-display {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    input[name="name"] {
        width: 50%;
    }

    .cost-section {
        &__price {
            display: flex;
            flex-direction: row;
            align-items: center;

            input[type="number"] {
                width: 50%;
                margin-left: 1%;

                @media only screen and (max-width: 768px) {
                    flex-direction: column;
                    width: 30%;
                }
            }
        }

        .costsDisplay {
            display: flex;

            @media only screen and (max-width: 768px) {
                flex-direction: column;
            }
        }
    }

    .colorDisplay {
        &__form-section {
            display: flex;
            align-items: center;

            @media only screen and (max-width: 768px) {
                flex-direction: column;
                align-items: normal;
            }

            input[name="color"] {
                width: 60%;

                @media only screen and (max-width: 768px) {
                    width: 60%;
                }
            }

            input[type="color"] {
                width: 100%;

                @media only screen and (max-width: 768px) {
                    width: 60%;
                    margin-bottom: 5%;
                }
            }
        }

        &__colorsList {
            display: flex;
            flex-wrap: wrap;

            &--color-item {
                border: 1px solid grey;
                border-radius: 100px;
                padding: 0.5%;
                justify-content: center;
                align-items: center;
                display: flex;
                margin: 1%;

                div {
                    margin-top: 3%;
                    color: white;
                    text-shadow: 0 0 3px black;
                    width: 60px;
                    height: 60px;
                    border-radius: 100px;
                    border: 2px solid grey;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 1%;
                }
            }
        }
    }

    .flagDisplay {
        &__form-section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;

            label {
                grid-area: 1 / 1 / 2 / 3;
            }


            // @media only screen and (max-width: 768px) {
            //     grid-template-columns: repeat(1, 1fr);
            // }
        }
    }

    // input {
    // width: 32%;
    // font-size: 20px;
    // }

    //     select {
    //         padding: 0.5% 0%;
    //     }

    //     input[type="text"] {
    //         padding: 0.5% 1% 0.5% 0%;
    //     }

    //     section {
    //         margin: 2% 0%;
    //     }

    //     .costsDisplay {
    //         width: 30%;
    //         min-width: 320px;
    //         display: grid;
    //         grid-template-columns: 2fr 3fr;
    //         align-items: center;
    //         justify-items: stretch;

    //         label,
    //         input {
    //             margin-top: 3%;
    //         }

    //         input {
    //             width: 100%;
    //             padding: 3% 5% 3% 0%;
    //         }
    //     }

    //     .colorDisplay,
    //     .flagDisplay {
    //         display: flex;
    //         align-items: center;
    //     }

    //     .descDisplay {
    //         width: 50%;
    //     }
}