.candlePage {
    h1 {
        font-size: clamp(1.5rem, 0.641vw + 1.356rem, 2.125rem);
        text-align: center;
    }
}

.candleItem {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;

    h2 {
        font-size: clamp(1.75rem, 0.897vw + 1.548rem, 2.625rem);
    }

    h3 {
        font-size: clamp(1.5rem, 0.513vw + 1.385rem, 2rem);
    }

    &__info-section {
        min-width: 250px;
    }

    &__candleName {
        align-items: center;
        display: flex;
    }

    &__colors,
    &__fragr {
        display: flex;
        flex-wrap: wrap;
    }

    &__colors {
        button {
            width: 60px;
            height: 60px;
            border-radius: 100px;
            border: 2px solid grey;
        }
    }

    &__fragr {
        button {
            width: 140px;
        }
    }

    .actionBtn, .unactiveBtn {
        border-radius: 6px;
        padding: 0px 10px;
        color: #EBDBFF;
        height: clamp(2rem, 0.938vw + 1.5rem, 3.438rem);
        // gap: 15px;
        margin: 0% 1%;
    }

    .actionBtn {
        background-color: #8524FF;
    }
    
    .unactiveBtn { 
        background-color: rgb(127, 127, 127);
    }
}

.candle-images {
    background-color: beige;

    &__top-show-big {
        width: 100%;
        min-width: 200px;
        height: 77vh;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }   

    &__bottom-show {
        display: flex;

        button {
            width: 153px;
            height: 153px;

            &.choosenImage {
                border: 2px solid black;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

