.categoryGrid{
    margin-top: 1%;
    display: flex;
    grid-auto-columns: auto;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 10px 10px;
    justify-content: center;
}
.cubeGrid{
    background-color: #ebdbff;
    font-size: 48px;
    font-weight: 900;
   // width: 304px;
    //height: 209px;
    width: 295px;
    height: 200px;    
    border-radius: 45px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameCategory{
    font-size: 48px;
    font-weight: 900;
}