.authDashboard, .bodyDashboard {
    background-color: #EBDBFF;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authDashboard {
    height: 100vh;
}

.bodyDashboard {
    height: fit-content;
}

html {
    scroll-behavior: smooth;
}

@import "login";
@import "user";
@import "register";
@import "navBar";
@import "dashboard";
@import "addCategory";
@import "categoryDashboard";
@import "removeCategory";