.bodyDashboard{
    background-color: #EBDBFF;
    max-width: 1920px;
    max-height: 1080px;
}
html {
    scroll-behavior: smooth;
}

@import "login";
@import "user";
@import "register";
@import "navBar";
@import "dashboard";
@import "addCategory";
@import "categoryDashboard";
@import "removeCategory";