.background {
border-radius: 25px;
  text-align: center;
  margin: 3% auto;
  background-color: white;
  width: 1502px;
  height: 780px;
  box-shadow:0 0 5px 5px #B2a7c0;

  h1 {
    padding-top: 8%;
    font-size: 53px;
    font-weight: 400;
  }

  .logForm {
    padding-top: 5%;
    display: grid;
    grid-row: 1;
    direction: rtl;
    row-gap: 8%;
   
  }

  label {
    font-size: 32px;
    font-weight: 400;
   

  }
  label[for=email]{
    margin-left: 40%;
  }
label[for=password]{
  margin-left: 47%;
}
  input {
    margin-right: 23%;
    background-color: #EBDBFF;
    border-radius: 10px;
    border: none;
 }
    input#email {
      width: 763px;
      height: 55px; 
      
    }

    input#password {
      width: 522px;
      height: 55px;
    }
 

 // button {
   // color: #EBDBFF;
    //background-color: #8524FF;
    //width: 422px;
    //height: 73px;
    //border-radius: 20px;
    //margin: 2% auto;
  //}
}