
    .background{
        text-align: center;
        background-color: white;
        box-shadow: 3px black;
        ::placeholder {
           background-color: #EBDBFF;
           .email{
           width: 763px;
           height: 60px;
        }
        .password{
            width: 522px;
            height: 60px;  
        }
          }
        button{
            color: #EBDBFF;
            background-color: #8524FF;
            width: 422px;
            height: 73px;
            border-radius: 15%;
        }
    }