.title {
  font-weight: 300;
  font-size: 20px;
}

.form-btn_active, .form-btn_disable {
  width: 53%;
  border-radius: 20px;
  margin: 5% auto 0%;
  padding: 15px 0px;
  color: #EBDBFF;
  min-width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.form-btn_disable {
  background-color: rgb(127, 127, 127);
}

.form-btn_active {
  background-color: #8524FF;
}